<link rel="stylesheet" type="text/css" href="{{ site.baseurl}}/assets/css/cookieconsent.min.css" />
<script src="{{ site.baseurl}}/assets/js/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
"palette": {
    "popup": {
    "background": "#1e4684",
    "text": "#dadada"
    },
    "button": {
    "background": "#b83d32",
    "text": "#ffffff"
    }
},
"theme": "classic",
"content": {
    "message": "This website uses cookies for analytics.",
    "dismiss": "Ok",
    "href": "/privacy"
}
})});
</script>