<div class="contact">
    <ul class="ul-reset social-icons">
        {% for icon in site.data.social-icons %}
        <li>
            {% assign url_path = icon.name | append:'_url' %}
            <a class="social-icon--link" href="{{site[url_path]}}" target="_blank" aria-label="{{icon.title}}">
                <span class="social-icon">
                    {% include {{ icon.name | prepend: 'social-icons/' | append: '.svg' }} %}</span
                >
            </a>
        </li>

        {% endfor %}
    </ul>
    <ul class="ul-reset legal-list">
        <li>
            <h5><a href="/privacy">Privacy Policy</a></h5>
        </li>
        <li>
            <h5><a type="application/atom+xml" href="/feed.xml">Atom (RSS)</a></h5>
        </li>
    </ul>
</div>
<div id="page-counter">
    <span class="unique-visitors"></span>
</div>
