<center>
    <header class="header">
        <div>
            <picture class="logo" >
                <source srcset="{{ site.baseurl}}/assets/img/logo.webp" type="image/webp">
                <source srcset="{{ site.baseurl}}/assets/img/logo.png" type="image/png"> 
                <img alt="" src="{{ site.baseurl}}/assets/img/logo.png">
            </picture>
        </div>
        <div>
            <picture class="logo" >
                <source srcset="{{ site.baseurl}}/assets/img/SPACESTATION3D.webp" type="image/webp">
                <source srcset="{{ site.baseurl}}/assets/img/SPACESTATION3D.png" type="image/png"> 
                <img alt="" src="{{ site.baseurl}}/assets/img/SPACESTATION3D.png">
            </picture>
        </div>
        <p>A 3D recreation of Space Station 13</p>
    </header>
</center>