.image-stack {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
}

.image-stack_top {
    grid-column: 4 / -4;
    grid-row: 1; // make this image be on the same row
    padding-top: 30%; // this pushes the image down, and keeps it proportional as it resizes
    z-index: 1; // make this image render on top of the bottom
    -webkit-filter: drop-shadow(2px -2px 7px black); /* Safari 6.0 - 9.0 */
    filter: drop-shadow(2px -2px 7px black);
}

.image-stack_bottom {
    grid-column: 1 / span 8;
    grid-row: 1; // must be on the same row as the other image
    margin-left: -10px;
    -webkit-filter: blur(.25px) brightness(90%) contrast(90%) saturate(90%); /* Safari 6.0 - 9.0 */
    filter: blur(.25px) brightness(90%) contrast(90%) saturate(90%);
}
