* {
    box-sizing: border-box;
}

a {
    white-space: pre-wrap;
    /* css-3 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
}

html {
    height: 100%;
    background: $color-background;
    background: var(--color-background);
}

body {
    min-height: 100%;
    background-color: rgb(37, 37, 37);
    background: linear-gradient(180deg, #71A2E033 0%, #05060833 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    @media (prefers-color-scheme: light) {
        background: var(--color-background);
        background-color: var(--color-background);
    }
}

body {
    &::before {
        content: " ";
        display: block;
        background: url("/assets/img/stars.webp");
        opacity: 0.1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
        width: 100%;
        min-height: 100vh;
        height: 100%;
        float: left;   
    }
    .no-webp &::before {
        background: url("/assets/img/stars.jpg");
    }
    @media (prefers-color-scheme: light) {
        &::before {
            display: none;
            background: none;
        }
        .no-webp &::before {
            background: none;
        }
    }
}
