.button {
    display: flex;
    box-sizing: border-box;
    background-color: $color-button;
    background-color: var(--color-button);
    padding: 2px 16px;
    border-radius: 3px;
    height: 50px;
    min-height: 50px;
    width: 100%;
    align-items: center;
    justify-content: center;
    transition: background-color .17s ease,color .17s ease;
    color: $color-button-text;
    color: var(--color-button-text);
    &:hover {
        text-decoration: none;
        color: $color-button-text;
        color: var(--color-button-text);
        background-color: $color-button-hover;
        background-color: var(--color-button-hover);
    }
    &:active {
        color: $color-button-text;
        color: var(--color-button-text);
        background-color: $color-button-active; 
        background-color: var(--color-button-active); 
    }
}

.github-colors {
    background-color: $color-button-github;
    background-color: var(--color-button-github);
    &:hover {
        background-color: $color-button-github-hover;
        background-color: var(--color-button-github-hover);
    }
    &:active {
        background-color: $color-button-github-active;
        background-color: var(--color-button-github-active);
    }
}

.discord-colors {
    background-color: $color-button-discord;
    background-color: var(--color-button-discord);
    &:hover {
        background-color: $color-button-discord-hover;
        background-color: var(--color-button-discord-hover);
    }
    &:active {
        background-color: $color-button-discord-active;
        background-color: var(--color-button-discord-active);
    }
}

.reddit-colors {
    background-color: $color-button-reddit;
    background-color: var(--color-button-reddit);
    &:hover {
        background-color: $color-button-reddit-hover;
        background-color: var(--color-button-reddit-hover);
    }
    &:active {
        background-color: $color-button-reddit-active;
        background-color: var(--color-button-reddit-active);
    }
}

.horizontal-buttons {
    a {
        margin-bottom: 1em;
    }
    @include respond-to(medium-screen) { 
        p {
            display: flex;
            justify-content: space-between;
            a {
                margin-right: 5px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}