.contact {
    padding: 25px 0;
    ul {
        text-align: center;
    }

    .social-icons {
        margin-top: 20px;
        display: flex;
        justify-content: center;

        a {
            white-space: normal;
        }
        li {
            margin-left: 25px;
            width: 30px;
            &:first-child {
                margin-left: 0;
            }
            @include respond-to(small-screen) {
                margin-left: 35px;
                width: 40px;
            }
        }
    }

    .legal-list {
        li {
            margin-top: 16px;
            margin-left: 0;
            @include respond-to(small-screen) {
                display: inline-block;
                margin-top: 0;
                margin-left: 16px;
            }
        }
    }
}

.social-icon-bg {
    fill: $color-social-icon;
}
