body, h1, h2, h3, h4, h5, h6 {
    font-size-adjust: 0.58; // Keep font size same regardless of font family.
    padding: 0;
    margin: 0.65em 0 0.3em 0;

    vertical-align: baseline;
    line-height: 1em;
}

h1 {
    margin: 0em 0em 0.3em 0em;
    @include respond-to(desktop) {
        margin: 1.60em 0em 0.5em;
    }
}

h5 {
    margin: 0em 0em 1em 0em;
    color: $color-text-h5;
    color: var(--color-text-h5);
    @include respond-to(desktop) {
        margin-bottom: 2.6em;
    }
}

p {
    margin-bottom: 12px;
}

body {
    color: $color-text;
    color: var(--color-text);
    margin: 0 auto;
    padding: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-size: 1.125em;
    line-height: 22px;
    line-height: 1.375em;
    @include respond-to(desktop) {
        line-height: 20px;
        line-height: 1.4em;
    }
}

.ul-reset {
    list-style-type: none;
    padding: 0 0;
    margin-top: 0;
}

.a-reset {
    color: inherit;
    text-decoration: inherit;
    &:hover {
        color: inherit;
        text-decoration: inherit;
    }
    &:active {
        color: inherit;
        text-decoration: inherit;
    }
    &:focus {
        color: inherit;
        text-decoration: inherit;
    }
}

// Links are coloured appropriately, so they don't look terrible
a, .link {
    color: $color-link; // CSS3 variable fallback
    color: var(--color-link);
    text-decoration: none;
    &:hover {
        color: $color-link-hover;
        color: var(--color-link-hover);
        text-decoration: underline;
    }
    &:active {
        color: $color-link-active;
        color: var(--color-link-active);
    }
}

.body-content {
    padding: 0 $pad;
}

// All post content is centred, except for text. On larger screens there's 27.5% spacing either side.
.post-content {
    display: flex;

    flex-direction: column;
    align-items: center;
    @include respond-to(desktop) {
        margin: 0 auto;
        width: 80%;
    }
    @include respond-to(large-screen) {
        margin: 0 auto;
        width: 45%;
    }

    h1, h2, h3, h4, h5, p, ul, ol {
        align-self: flex-start;
    }
    .centred {
        align-self: center;
    }
}

.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}