header {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 30px;
    h1 {
        font-size: 16px;
        font-size: 7.5vw;
        white-space: nowrap;
        overflow: visible;
        margin-top: $pad;
    }
    h6 {
        white-space: nowrap;
        overflow: visible;
        font-size: 22px;
    }
    div {
        width: 100%;
    }
    img {
        height: 74px;
        position: relative;
        right: 5px;
        top: 0px;
        padding: $pad;
        padding-top: 10px;
        padding-bottom: 0px;
    }
    @include respond-to(small-screen) {
        h6 {
            font-size: 25px;
        }
        img {
            height: 84px;
        }
    }
    @include respond-to(medium-screen) {
        h6 {
            font-size: 29px;
        }
        img {
            height: 96px;
        }
    }
    @include respond-to(large-screen) {
        h6 {
            font-size: 34px;
        }
        img {
            height: 110px;
        }
    }
    @include respond-to(extra-large-screen) {
        h6 {
            font-size: 39px;
        }
        img {
            height: 126px;
        }
    }
}
