%size {
    // set width and height
    width: calc(100vw - 69px); //#{$pad * 3} - 32px);
    height: 50px;
    @include respond-to(desktop) {
        width: 100vw;
    }
}

.nav-background {
    width: 100vw;
    background-color: $color-navbar;
    @include respond-to(desktop) {
        text-align: center;
    }
}

nav {
    display: inline-block; // mask scrollbars of child
    overflow: hidden; // set mask size
    @extend %size; // has absolutely positioned child
    position: relative;
    .ul-container {
        // always have scrollbars.
        // don't use auto, it leaves vertical scrollbar showing
        overflow: scroll; // without absolute, the vertical scrollbar shows
        position: absolute;
        &::-webkit-scrollbar {
            display: none;
        } // https://codepen.io/matthewbeta/pen/fzoHI
        background-image :/* Shadows */
        linear-gradient(to right, $color-navbar, $color-navbar),
        linear-gradient(to right, $color-navbar, $color-navbar),
        /* Shadow covers */
        linear-gradient(to right, rgba($color-navbar-scroll-shadow, 0.25), rgba($color-navbar, 0)),
        linear-gradient(to left, rgba($color-navbar-scroll-shadow, 0.25), rgba($color-navbar, 0));
        background-position: left center,
        right center,
        left center,
        right center;
        background-repeat: no-repeat;
        background-color: $color-navbar;
        background-size: 20px 100%,
        20px 100%,
        10px 100%,
        10px 100%;
        /* Opera doesn't support this in the shorthand */
        background-attachment: local,
        local,
        scroll,
        scroll; //
        overflow-y: hidden;
    }
    ul {
        margin: 0 auto;
        white-space: nowrap; // push scrollbars behind mask
        @extend %size;
    }
    li {
        display: inline-block;
        margin-top: 16px;
        a {
            color: white;
            text-align: center;
            padding: $pad;
            text-decoration: none;
            transition: background-color .17s ease,color .17s ease;
            &:hover {
                background-color: #111111;
                text-decoration: none;
                transition: background-color .17s ease,color .17s ease;
            }
            &.active {
                color: $color-navbar-active;
                text-shadow:1px 0px 0px $color-navbar-active;
                @supports not (text-shadow:1px 0px 0px $color-navbar-active) {
                    font-weight: bold;
                }
                &:hover {
                    background-color: transparent;
                }
            }
        }
    }
    h2 {
        padding: $pad 0 0 0;
    }
}