nav {
    display: inline-block;
    @include respond-to(tablet) {
        margin-left: -$pad;
    }
    
    width: 100%;
    ul {
        width: 100%;
        margin: 0 auto;
    }
    li {
        float: none;
        @include respond-to(tablet) {
            float: left;
        }
        a {
            display: block;
            color: white;
            text-align: center;
            padding: $pad;
            text-decoration: none;
            &:hover {
                background-color: #111111;
            }
        }
    }
    h2 {
        padding: $pad 0 0 0;
    }
    a {
        text-decoration: none;
        &.active {
            color: $color-link;
        }
    }
}
