.horizontal-3 {
    p {
        display: flex;
        img {
            flex: 33.33%;
            margin: 0 0 8px 8px;
        }
    }
}

.horizontal-2 {
    p {
        display: flex;
        img {
            flex: 50%;
            margin: 0 0 8px 8px;
        }
    }
}
