.post-description {
    white-space: pre-line;
}

.post-image {
    width: 100%;
}

.post-row {
    margin-top: 32px;
    align-items: center;
    h2 {
        margin-bottom: 0.325em;
        a {
            text-decoration: underline;
        }
    }
}