.horizontal {
    overflow: hidden;
    white-space:nowrap;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    p {
        flex-grow: 1;
        a {
            flex-grow: 1;
            img {
                max-width: 100%;
            }
        }
        padding: 5px;
        padding-left: 0;
        &:last-child {
            padding-right: 0;
        }
    }
}

.horizontal-direct-children-desktop {
    @include respond-to(desktop) { 
        margin-right: auto;
        margin-left: auto;
        display: flex;
        & > p, & > div {
            flex-grow: 1;
            padding: 5px;
            padding-left: 0;
            width: 100%;
            &:last-child {
                padding-right: 0;
            }
        }
        & > img {
            max-width: 100%;
        }
    }
}

a.post-image {
    img {
        //max-width: 580px;
        max-width: 850px;
        width: 100%;
    }
}
.sketchfab-embed-wrapper {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}