<html class="space-background" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ page.title }} | {{ site.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl}}/css/style.css">
        <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl}}/favicon.ico">
    </head>
    <body>
        <div class="body-content">
            <nav>
                {% include navbar.html %}
            </nav>
            {% include header.html %}
            <main>
                {{ content }}
            </main>
            <footer>
                {% include footer.html %}
            </footer>
        </div>
    </body>
</html>