<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ page.title }} | {{ site.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl}}/css/style.css">
        <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet"> 
    </head>
    <body class="space-background">
        <nav>
            {% include navbar.html %}
        </nav>
        {% include header.html %}
        <main>
            {{ content }}
        </main>
        <footer>
            {% include footer.html %}
        </footer>
    </body>
</html>