---
layout: default
---

{{ content }}
<ul class="ul-reset">
{% for post in site.posts %}
<li class="post-row">
    <div>
        <a style="white-space: nowrap;" href="{{ site.baseurl}}{{ post.url }}">{% responsive_image_block %}
                path: {{ post.image | prepend: site.baseurl |  remove_first: "/" }}
                alt: "{{post.title}}"
                template: "_includes/srcset-post.html"
                title: "{{post.title}}"
            {% endresponsive_image_block %}</a>
    </div>
    <div>
        <h2><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title}}</a></h2>
        <a class="a-reset" href="{{ site.baseurl}}{{ post.url }}"><span class="postDate">{{ post.date | date: "%b %-d, %Y" }}</span></a>
    </div>
    <div class="post-description">
        <a class="a-reset" href="{{ site.baseurl}}{{ post.url }}"><p>{{ post.description }}</p></a>
    </div>
</li>
{% endfor %}
</ul>

