---
layout: default
---
<div>
  <div class="image">
    <img src="{{ page.image | prepend: site.baseurl }}" alt="{{ post.title }}">
  </div>
  {% if page.image_credit %}
  <h5><i>Image credit: {{ page.image_credit }}</i></h5>
  {% endif %}
</div>

<h1>{{ page.title }}</h1>
<h5><i>{{ page.date | date: "%A, %B %-d, %Y" }}</i></h5>
<h5><i>Written by: {{ page.author }}</i></h5>
{% if page.release_old %}
<h2>SS3D Build (Outdated): 
  <u>
    <a href="{{ site.github_url }}/SS3D/releases/download/{{ page.release_old }}/RESS3D_{{ page.release_old }}.zip">v{{ page.release_old }}</a>
  </u>
</h2>
{% endif %}
{% if page.release %}
<h2>SS3D Build: 
  <u>
    <a href="{{ site.github_url }}/SS3D/releases/download/{{ page.release }}/SS3D_{{ page.release }}.zip">v{{ page.release }}</a>
  </u>
</h2>
{% endif %}
<br>
{{ content }}
<br>
<div id="page-counter">
  <span class="unique-visitors"></span>
</div>
