---
layout: default
---
<div>
  <div class="image">
    <img src="{{ page.image | prepend: site.baseurl }}" alt="{{ post.title }}">
  </div>
  <h5><i>{{ page.image_credit }}</i></h5>
</div>

<h1>{{ page.title }}</h1>
<h5><i>{{ page.date | date: "%A, %B %-d, %Y" }}</i></h5>
<h5><i>{{ page.post_credit }}</i></h5>
{% if page.monthly_release %}
<h2>Monthly Release: <u><a href="{{ site.github_game_url }}/releases/tag/{{ page.monthly_release }}" target="_blank">v{{ page.monthly_release }}</a></u></h2>
{% endif %}
<br>
{{ content }}
